/* Add screen styles below */
body{
    background: #635b6d;
    margin-top: 100px;

}
.card{
    background:#D9d9d9;
    color: #37323e;
    margin: 0 auto;
    width:500px;
    height:300px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    font-family: 'Times New Roman', Times, serif;

}
.card div{
    padding: 20px;
}

h1{
    background: #305512;
    margin:0;
    padding:20px;
    border-radius: 15px 15px 0 0;
    font-family: 'Times New Roman', Times, serif;
}

img{
    float:left;
    margin-right:20px;

}